$ cat .gitignore	
application/Config.php
nbproject/project.xml
nbproject/project.properties
nbproject/licenseheader.txt
nbproject/private/config.properties
nbproject/private/private.properties
nbproject/private/private.xml
*~	